<template name="about">
  	<h1>Berke LLP</h1>

  	<h3>Litigating Complex Matters throughout the State of New York, California and Country
	Our boutique firm is nationally and internationally known. We litigate throughout the United States and assist foreign nationals from every corner of the globe.</h3>

	<p><strong>A Talented Cast. Our attorneys regularly receive professional accolades for their ethics and accomplishments, including Super Lawyers, Best Lawyers in America and the AV-Preeminent rating.</strong></p>

	<p>Blazing The Trail. We have obtained record-setting verdicts in Hawaii and Florida, as well as important litigation and appellate victories that pave the way for other plaintiffs and immigrants.</p>
	 
	<p>Full Service Law Firm Based in New York, California with an International Reputation. We regularly go to trial in cases involving medical malpractice, catastrophic injuries, immigration matters and complex commercial disputes. In every sense, we are invested in the outcome.
	</p>

	<p>Berke LLP has relationships with major players in the financial world in the US, and have access to necessary resources to help you to be successful in your business and find the shortest path to the “American Dream”.</p>

	<!--
	<p>Berke LLP, LLC là một công ty chuyên đầu tư bất động sản, tư vấn tài chánh, và cung cấp dịch vụ di trú vào Mỹ, đặc biệt là theo diện đầu tư EB5, việc làm EB3, du học F1, hoặc kinh doanh L1.</p>
 
	<p>Tập thể lãnh đạo công ty Berke LLP là những nhà tài chánh, kinh doanh, và tiếp thị hàng đầu với trung bình hơn 20 năm kinh nghiệm trong ngành. Berke LLP đã giúp cho nhiều doanh nghiệp Việt Nam tại Mỹ tìm được những phương án tài chánh đặc biệt để triển khai những ý tưởng và kịp thời nắm bắt những cơ hội kinh doanh.</p>
	 
	<p>Berke LLP có những quan hệ rộng rãi và sâu đậm với giới tài chánh rường cột của nước Mỹ, và những nguồn lực kinh doanh vô giá để giúp cho thân chủ của mình có những con đường ngắn nhất để thực hiện “Giấc mơ Nước Mỹ”.</p>
	-->
</template>
 
