<template name="about">

	<h1><strong>Knowledgeable, Skilled And Aggressive</strong></h1>

	<h2>- Our attorneys work hard to help clients achieve their goals.</h2>

	<h2>- Contact our firm for your initial consultation on any immigration issue.</h2>

	<h2> - We provide exceptional service and value to our clients.</h2>

	<br/>
	<h1>Contact us</h1>
	<div>
	  <table cellpadding="0" cellspacing="0" border="0">
	  <tr>
	  <td><strong>New York</strong><br/>
	  Phone: +1 917.747.4263<br />
      233 Broadway, Suite 2348<br />
      New York, NY 10279<br /><br/>
	  <strong>California</strong><br/>
	  Phone: +1 714.448.9496<br />
	  12866 Main Street #101<br />
	  Garden Grove, CA 92840<br /><br/>
	  <strong>Vietnam</strong><br/>
	  Phone: +84 97.664.6270<br />
	  123 Nguyen Hue #100<br />
	  Ho Chi Minh city, Vietnam<br />
	  </td>
	  </tr>
	  </table>
	</div>


</template>
 
