<template name="finance">
	<h1>Corporate Finance</h1>

	<h3>Expertise:</h3>
	 
	<p>Berke LLP’s professionals are experts in structuring debt and equity financings and accessing specific private capital markets to achieve the optimal terms for our clients. We have particular expertise in:</p>
	
	<ul>
		<li>Senior loans</li>
		<li>Second lien loans</li>
		<li>Preferred and common equity</li>
		<li>Sale and lease-back financing</li>
		<li>Securitization</li>
	 </ul>

	<h3>Deep Relationships with Capital Providers:</h3>

	<p>Berke LLP has long-standing relationships with numerous capital providers. With access to the senior decision makers at these institutions, Berke LLP can assure our clients of obtaining quick and constructive responses. In particular, we are close with a large number of:</p>
	
	<ul> 
		<li>Commercial banks</li>
		<li>Hedge funds</li>
		<li>Mezzanine funds</li>
		<li>Private equity firms</li>
		<li>Strategic investors within our industry focuses</li>
	</ul>
	 
	<h3>Independent Advice:</h3>

	<p>As an independent firm, Berke LLP provides our clients with truly objective advice about financing alternatives. We identify and pursue the optimal source of capital for our clients with the structure and terms tailored to specifically address their needs.</p>
	 
</template>