<template name="home">
  <h1>Berke LLP</h1>
      <h3>you're permitted top use this template for free - business &amp; personal use<br />
      if you keep the links (see sourcecode comments)</h3>
      <p><strong>if you want to remove the &bdquo;Design &amp; sponsors &rdquo; part, contact me
      <a href="http://www.openwebdesign.org/email.phtml?user=mediatacweb">@openwebdesign</a> - but expect to pay some bucks
      depending on what you might want to use my template for... </strong>
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer felis erat, pharetra at
      volutpat id, ultrices eget nisi. Etiam odio enim, faucibus non tristique eget, adipiscing at mi.
      Integer nec dapibus nibh. Sed orci sem, <a href="http://www.ego-surf.net">volutpat</a> eget pretium aliquam, vehicula at elit.
      Nam ut quam lectus, et imperdiet arcu. Duis aliquam faucibus pharetra. Pellentesque habitant
      morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi sit amet vulputate
      lorem. Sed aliquet lacus vitae nulla suscipit eget euismod tortor semper. Aliquam a tempor massa.
      Nullam aliquam, tellus in bibendum rutrum, libero felis tristique metus, at tristique sapien
      mauris quis erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      mus. Sed feugiat porttitor semper. Morbi sed vestibulum eros. Integer ullamcorper tincidunt commodo.
      Praesent nec tellus elit, vitae dignissim nisl. Sed vitae ipsum mauris. Nullam mattis ipsum
      sollicitudin odio cursus rhoncus. Vestibulum quam mi, molestie at viverra non, dapibus sed ligula.</p>
</template>