<template name="immigration">
  	<h2>Berke LLP will guide you to successful immigration to the United States.</h2>

  	<h1>Immigration Law</h1>

  	<h3>We serve clients throughout the United States and worldwide, including clients from Europe, Vietnam, Central and South America,  Mexico, Canada, Asia, Africa and the Middle East.</h3>

	<ul>
		<li>EB-5 investor-based immigration — Path to a green card for investing in a U.S. business</li>
		<li>Corporate immigration — Assisting employers with visa processing and I-9 compliance</li>
		<li>Family-based immigration — Reuniting U.S. citizens and immigrants with their loved ones</li>
		<li>Nonimmigrant visas — H-1B, L-1, E-2 and other work visas</li>
		<li>Temporary visas — Student, business, visitor and government official visas</li>
		<li>Asylum and waivers</li>
	</ul>

	<p>We also help families pursue immigration forms for their spouses, fiancé(e)s, children (including adopted children), parents, brothers and sisters. We advise employers on staying I-9 compliant and verifying labor requirements.</p>

</template>
 
