<template name="litigation">
  	<h1>Commercial Litigation</h1>

	<p>The attorneys at Berke LLP will help you resolve business disputes through negotiation, mediation, or trial in federal or state court. We understand that litigation can put at risk everything our clients work so hard to achieve and impact a business’ ability to meet its objectives. Our mission is to help our clients resolve their business disputes through the most profitable means available. We will assess the potential risks, costs, and benefits of litigation and counsel the most effective course for our clients.</p>

	<p>Berke LLP has experience advising and representing individuals and businesses in a variety of matters regarding contract disputes, negligence, deceptive trade practices, securities fraud, racketeering, insurance and bad faith claims, equitable remedies, commercial debt and promissory notes, conversion or theft, employment, and shareholder litigation. We specialize in handling partnership disputes, real estate matters, federal and state statutory claims, trust disputes, identity theft, lender liability, and investment claims.</p>

	<p>All of these matters may have a considerable financial effect for an individual or a company – both large and small. With so much at stake, choosing the appropriate legal counsel will make all the difference.</p>

	<p>Our years of experience with trial practice at all levels allow us to quickly and correctly analyze the issues, risks, and exposures involved in business and commercial litigation.</p>

</template>