<template name="realestate">
	<h1>REAL ESTATE PORTFOLIO</h1>

	<h3>Commercial Buildings</h3>
	<p><img src="/images/commercialBuilding.jpg" class="re-image"> Maximizing the value of your transaction is 
	critical as a tenant, owner or investor. You
can’t afford to entrust your business to anyone other than a true commercial real
estate professional. You want someone whose local market knowledge and service will
help you get the most out of your deal.
No matter where in the world your business takes you, Berke LLP can help you succeed.
Berke LLP is comprised of commercial real estate
professionals serving clients in the US and Vietnam. We offer unparalleled local insight, helping you
make informed investment decisions.</p>

	<h3>Retail Shopping Centers</h3>

	<img src="/images/retailShoppingCenter.jpg" class="re-image"><p>Shopping centers and other forms of retail properties continue to be among the soundest real estate investments in North America. But retail property is a highly specialized field of real estate development with a unique and complex set of legal, financial, development, management, and marketing variables about which investors and developers must possess a sound working knowledge. Berke LLP will help you make the best investments possible.</p>
	 
	<h3>Residential</h3>

	<img src="/images/residential.jpg" class="re-image"><p>Berke LLP team of real estate professionals committed to helping buyers and sellers understand the tax advantages, financing alternatives and investment aspects of home ownership.  Berke LLP training and experience provides solutions to make homes more marketable and help structure a favorable transaction.</p>
	 
</template>