<template name="visa">
	<h1>EB-5 VISA PROGRAM</h1>

	<h3><strong>TAKE ADVANTAGE OF EB-5 VISA BENEFITS</strong></h3>

	<h3>The EB-5 visa is a United States visa created through the Immigration Act of 1990. This visa provides a method for foreign nationals who invest money in the U.S. to obtain a green card.</h3>

	<p><strong>A majority of immigrant investors (90%) prefer to work through officially designated regional centers, such as TST Everinvestment LLC., to obtain a U.S. permanent green card because it presents a much simpler, less expensive and expedited process.</strong></p>

	<p>The EB-5 visa program offers several advantages, including the following:

	<ul>
		<li>The freedom to live, work, and retire anywhere in the U.S., regardless of the location of your EB-5 investment.</li>

		<li>The principal applicant, spouse, and any children under the age of 21 qualify under the same visa application.</li>

		<li>There is no requirement to manage daily business operations and employees.</li>

		<li>There are no travel restrictions in and out of your home country.</li>

		<li>You have equal access to college education at the same cost as in-state residents.</li>

		<li>Diversification of your investment portfolio in the U.S.</li>

		<li>Currently, there are no visa quota backlogs.</li>

		<li>No sponsor is required as in the case of most other employment- or family-based visa categories.</li>

		<li>No claim for extraordinary ability or education.</li>

		<li>You have the choice to become a U.S. citizen 5 years after you receive a conditional green card.</li>
	</ul>
	</p>

	<h3>SERVICES WE DELIVER TO OUR EB-5 INVESTORS</h3>

	<p>TST Everinvestment LLC. partners with you to ensure your comprehensive understanding of EB-5 immigrant program benefits, requirements, and processes. You can trust us to:</p>

	<p>Discuss investment opportunities and provide detailed answers in understandable terms.
	Support and guide qualified investors through the investment and green card process.
	Recommend experienced immigration attorneys who specialize in EB-5 investor visas.
	Coordinate the immigration process to maximize your chances of receiving an EB-5 visa approval.
	Diligently manage your investment so that it delivers income and long-term growth.
	To learn more about the EB-5 visa program, please read the EB-5 visa overview section.</p>
</template>